body {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-image:url(https://image.freepik.com/free-vector/poker-table-background-green-color_47243-1068.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    text-align:center;
    color:red;
    font-weight:bold;
}
h1 { 
    color:black;
    font-size: 100px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
 h2{
    font-size: 35px;

 }

button {
    text-color:red;
    height:100px;
    width:250px;
    background:whitesmoke;
    padding-top:5px;
    padding-bottom:5px;
    font-weight: bold;
    border: none;
    border-radius: 25%;
    
}
#playercard{
    font-size: 50px;
}

#player2card{
    font-size:50px;
}

#dealersum{
    font-size:50px
}

#playersum{
    font-size:50px
    
}
#message {
    font-style:italic;
    font-size: 25px;
}