body{
    background-image:url(https://image.freepik.com/free-vector/poker-table-background-green-color_47243-1068.jpg);
    background-repeat: no-repeat;
    background-position:center center ; 
    background-size: 1500px;
  height: full fixed;
}

#bottom-row{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    position: relative;
    top: 350px;
    left: 500px;
  }







h1{
    text-align: center;
    font-size: 100px;
    font-family: cursive;

}
h2{
    text-align: center;
    font-size: 75px;
    font-family: cursive;
    color: #890000;
}

.player{




}
.button{
    text-align: center;
    font-size: 25px;
    font-family: cursive;
}




.card {
    height: 8.85em;
    width: 6.4em;
    background-color: #fff;
    border: 1px solid #695d39;
    border-radius: .5em;                       /* omitted -moz- and -webkit- hacks */
    box-shadow: -.25em .25em .5em -.25em #000; /* omitted -moz- and -webkit- hacks */
    font-family: 'Times', serif;
    line-height: 1em;
    padding-top: .25em;
    padding-left: .1em;
    letter-spacing: -.2em;
    position: absolute;
  }
   
  .H, .D { color: #890000; }
  .S, .C { color: #000; }